.header {
  width: 100%;
  box-sizing: border-box;
  background-color: #313a86;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-right: 1rem;
}
.search {
  display: flex;
}

.customInput {
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  background-color: #f3f3f3;
  font-size: 14px;
  font-weight: 600;
  padding: 0.75rem;
  margin-right: 1rem;
  width: 300px;
}
option {
  margin: 0.5rem;
  font-size: 15px;
  font-weight: 600;
}

.customButton {
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  background-color: #3f4aa8;
  color: white;
  font-size: 16px;
  transition: all ease 0.18s;
}
.customButton:hover {
  background-color: #5462dd;
  cursor: pointer;
}
.customInput:focus {
  outline: none;
}

@media screen and (max-width: 820px) {
  .customInput {
    width: auto;
  }
}
@media screen and (max-width: 556px) {
  .customInput {
    width: 85px;
  }
}
@media screen and (max-width: 390px) {
  .logo {
    display: none;
  }
}
