.imageCard {
  position: relative;
  padding: 0.5rem;
  transition: all 0.18s;
  width: auto;
}
.imageCard img {
  border-radius: 16px;
}
.imageCard:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.iconBox {
  position: absolute;
  padding: 10px 10px 5px 10px;
  z-index: 99;
  border-radius: 50%;
  background-color: rgba(245, 245, 245, 1);
  top: 20px;
  left: 20px;
  transition: all 0.38s;
}

.icon {
  fill: #e11d39;
}

.iconBox:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}

.iconactive {
  position: absolute;
  padding: 10px 10px 5px 10px;
  z-index: 99;
  border-radius: 50%;
  background-color: #e11d39;
  bottom: 20px;
  left: 20px;
  transition: all 0.38s;
}
.iconactive .icon {
  fill: white;
}

.iconactive:hover {
  cursor: pointer;
  background-color: #bb1931;
}
